.body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ddebed;
}

.nav-links {
    display: flex;
    background-color: #4CAF50;
    padding: 10px 0;
    border-bottom: 2px solid #388E3C;
    margin-bottom: 20px;
    justify-content: space-between;
    grid-row: auto;

}

.nav-item {
    justify-content: center;
    display: flex;
    margin: 0 15px;
    grid-row: auto;
}

.cart-items {
    display: flex;
    spacing: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 15px;
    height: 10px;
    width: 10px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
}

.footer {

    background-color: #377439;
    color: white;

    padding: 10px 0;
    

    width: 100%;
    margin: auto;
}
. copyright{

}